In [1]:
%load_ext autoreload
%autoreload 2

In [152]:
import sys
sys.path.insert(0,'..')

In [65]:
from food.tools import *
from food.paths import *
from food.psql import *

import pandas as pd
import numpy as np

# !nbdev_build_lib
from pathlib import Path

In [66]:
data_path = Path('../food_dataset')

In [120]:
n=9

In [153]:
df = pd.read_csv('../food_dataset/measure_unit.csv')

In [151]:
df

       id          name
0    1000           cup
1    1001    tablespoon
2    1002      teaspoon
3    1003         liter
4    1004    milliliter
..    ...           ...
117  1117         bunch
118  1118   Tablespoons
119  1119        Banana
120  1120         Onion
121  9999  undetermined

[122 rows x 2 columns]

In [147]:
n+=1
p = data_path.ls()[n]
print(p)
pd.read_csv(p)

IndexError: list index out of range

In [96]:
data_path.ls()

[PosixPath('../food_dataset/branded_food.csv'),
 PosixPath('../food_dataset/lab_method.csv'),
 PosixPath('../food_dataset/food_calorie_conversion_factor.csv'),
 PosixPath('../food_dataset/agricultural_samples.csv'),
 PosixPath('../food_dataset/sr_legacy_food.csv'),
 PosixPath('../food_dataset/food_attribute.csv'),
 PosixPath('../food_dataset/food_nutrient_derivation.csv'),
 PosixPath('../food_dataset/acquisition_samples.csv'),
 PosixPath('../food_dataset/all_downloaded_table_record_counts.csv'),
 PosixPath('../food_dataset/food_nutrient_source.csv'),
 PosixPath('../food_dataset/food_attribute_type.csv'),
 PosixPath('../food_dataset/food_component.csv'),
 PosixPath('../food_dataset/food_protein_conversion_factor.csv'),
 PosixPath('../food_dataset/foundation_food.csv'),
 PosixPath('../food_dataset/Download & API Field Descriptions October 2022.pdf'),
 PosixPath('../food_dataset/food_update_log_entry.csv'),
 PosixPath('../food_dataset/survey_fndds_food.csv'),
 PosixPath('../food_dataset/retention_factor.csv'),
 PosixPath('../food_dataset/food_nutrient.csv'),
 PosixPath('../food_dataset/nutrient.csv'),
 PosixPath('../food_dataset/measure_unit.csv'),
 PosixPath('../food_dataset/sub_sample_food.csv'),
 PosixPath('../food_dataset/food_category.csv'),
 PosixPath('../food_dataset/lab_method_nutrient.csv'),
 PosixPath('../food_dataset/lab_method_code.csv'),
 PosixPath('../food_dataset/nutrient_incoming_name.csv'),
 PosixPath('../food_dataset/market_acquisition.csv'),
 PosixPath('../food_dataset/food_portion.csv'),
 PosixPath('../food_dataset/food.csv'),
 PosixPath('../food_dataset/input_food.csv'),
 PosixPath('../food_dataset/sub_sample_result.csv'),
 PosixPath('../food_dataset/wweia_food_category.csv'),
 PosixPath('../food_dataset/fndds_ingredient_nutrient_value.csv'),
 PosixPath('../food_dataset/sample_food.csv'),
 PosixPath('../food_dataset/food_nutrient_conversion_factor.csv'),
 PosixPath('../food_dataset/fndds_derivation.csv')]

In [67]:
df = pd.read_csv(data_path/'food.csv')

In [39]:
df['data_type'].unique()

array(['branded_food', 'experimental_food', 'sr_legacy_food',
       'sample_food', 'market_acquistion', 'sub_sample_food',
       'foundation_food', 'agricultural_acquisition', 'survey_fndds_food'],
      dtype=object)

In [41]:
df[df['data_type']=='survey_fndds_food']

,fdc_id,data_type,description,food_category_id,publication_date
559101,1097510,survey_fndds_food,"Milk, human",9602.0,2020-10-30
559102,1097511,survey_fndds_food,"Milk, NFS",1004.0,2020-10-30
559103,1097512,survey_fndds_food,"Milk, whole",1002.0,2020-10-30
559104,1097513,survey_fndds_food,"Milk, low sodium, whole",1002.0,2020-10-30
559105,1097514,survey_fndds_food,"Milk, calcium fortified, whole",1002.0,2020-10-30
...,...,...,...,...,...
566179,1104588,survey_fndds_food,Tomatoes as ingredient in omelet,9999.0,2020-10-30
566180,1104589,survey_fndds_food,Other vegetables as ingredient in omelet,9999.0,2020-10-30
566181,1104590,survey_fndds_food,Vegetables as ingredient in curry,9999.0,2020-10-30
566182,1104591,survey_fndds_food,Sauce as ingredient in hamburgers,9999.0,2020-10-30
566183,1104592,survey_fndds_food,Industrial oil as ingredient in food,9999.0,2020-10-30

In [26]:
foundation_food = df[df['data_type']=='foundation_food'].drop_duplicates('description')[['fdc_id','description']]

In [27]:
foundation_food.rename(columns = {'fdc_id':'id'}).to_sql('foundation_foods',schema = 'food',con = engine,if_exists = 'append',index = False)

IntegrityError: (psycopg2.errors.UniqueViolation) duplicate key value violates unique constraint "foundation_foods_pkey"
DETAIL:  Key (id)=(321358) already exists.

[SQL: INSERT INTO food.foundation_foods (id, description) VALUES (%(id)s, %(description)s)]
[parameters: ({'id': 321358, 'description': 'Hummus, commercial'}, {'id': 321359, 'description': 'Milk, reduced fat, fluid, 2% milkfat, with added vitamin A and vitamin D'}, {'id': 321360, 'description': 'Tomatoes, grape, raw'}, {'id': 321505, 'description': 'Salt, table, iodized'}, {'id': 321611, 'description': 'Beans, snap, green, canned, regular pack, drained solids'}, {'id': 321900, 'description': 'Broccoli, raw'}, {'id': 322228, 'description': 'Milk, lowfat, fluid, 1% milkfat, with added vitamin A and vitamin D'}, {'id': 322559, 'description': 'Milk, nonfat, fluid, with added vitamin A and vitamin D (fat free or skim)'}  ... displaying 10 of 189 total bound parameter sets ...  {'id': 2263891, 'description': 'Grapes, green, seedless, raw'}, {'id': 2263892, 'description': 'Applesauce, unsweetened, with added vitamin C'})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

In [ ]:
foundation_food

In [28]:
pd.read_csv(data_path/'food_nutrient.csv')

/tmp/ipykernel_1294208/4146138371.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  pd.read_csv(data_path/'food_nutrient.csv')

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired
0,13694818,1106281,203,10.710,NaN,70.0,NaN,NaN,NaN,NaN,NaN
1,13694819,1106281,204,25.000,NaN,70.0,NaN,NaN,NaN,NaN,NaN
2,13694826,1106281,307,161.000,NaN,70.0,NaN,NaN,NaN,NaN,NaN
3,13694824,1106281,301,71.000,NaN,75.0,NaN,NaN,NaN,NaN,NaN
4,13694829,1106281,601,0.000,NaN,75.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
5917365,27797216,2263892,1014,0.000,8.0,1.0,0.00,0.00,0.000,NaN,2021.0
5917366,27797202,2263892,1039,425.900,8.0,1.0,281.00,644.50,348.000,NaN,2021.0
5917367,27797205,2263892,1044,5.413,8.0,1.0,0.00,43.30,0.000,NaN,2021.0
5917368,27797213,2263892,1011,2.451,8.0,1.0,2.03,2.93,2.413,NaN,2021.0
5917369,27797200,2263892,1162,43.690,8.0,1.0,13.40,96.85,26.980,NaN,2021.0

In [29]:
path_info(data_path)

NameError: name 'path_info' is not defined

In [42]:
fundation_path = data_path/'FoundationFoods'
fndds_path = data_path/'FNDDS'
support_path = data_path/'support_data'
branded_path = data_path/'branded'
full_path = data_path/'full'

In [31]:
pd.read_csv(data_path/'foundation_food.csv')

      fdc_id  NDB_number                             footnote
0     321358       16158                                  NaN
1     321360      100147                                  NaN
2     321611       11056                                  NaN
3     323121        7022                                  NaN
4     323294       12563   Other phytosterols = 34.67 mg/100g
..       ...         ...                                  ...
179  2263888        9302                                  NaN
180  2263889        9050                                  NaN
181  2263890      100279                                  NaN
182  2263891      100280                                  NaN
183  2263892        9401                                  NaN

[184 rows x 3 columns]

In [32]:
nutrients = pd.read_csv(data_path/'nutrient.csv').sort_values('id');nutrients

,id,name,unit_name,nutrient_nbr,rank
2,1001,Solids,G,201.0,200.0
3,1002,Nitrogen,G,202.0,500.0
4,1003,Protein,G,203.0,600.0
5,1004,Total lipid (fat),G,204.0,800.0
6,1005,"Carbohydrate, by difference",G,205.0,1110.0
...,...,...,...,...,...
469,2061,"Ergosta-7,22-dienol",MG,NaN,16211.0
470,2062,"Ergosta-5,7-dienol",MG,NaN,16211.0
471,2063,Verbascose,G,NaN,2450.0
472,2064,Oligiosaccharides,MG,NaN,2250.0
473,2065,Low Molecular Weight Dietary Fiber (LMWDF),G,293.4,1306.0

In [33]:
measures = pd.read_csv(data_path/'measure_unit.csv').sort_values('id');measures

       id          name
0    1000           cup
1    1001    tablespoon
2    1002      teaspoon
3    1003         liter
4    1004    milliliter
..    ...           ...
117  1117         bunch
118  1118   Tablespoons
119  1119        Banana
120  1120         Onion
121  9999  undetermined

[122 rows x 2 columns]

In [43]:
fndds = pd.read_csv(data_path/'food_update_log_entry.csv').sort_values('id')
fndds_nutrients = pd.read_csv(data_path/'food_nutrient.csv').sort_values('id')
fndd_portions = pd.read_csv(data_path/'food_portion.csv').sort_values('id')
attributes = pd.read_csv(data_path/'food_attribute.csv')

/tmp/ipykernel_1294208/3483475768.py:2: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  fndds_nutrients = pd.read_csv(data_path/'food_nutrient.csv').sort_values('id')
/tmp/ipykernel_1294208/3483475768.py:4: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  attributes = pd.read_csv(data_path/'food_attribute.csv')

In [61]:
fndd_portions.groupby('modifier').count().sort_values('id')

,id,fdc_id,seq_num,amount,measure_unit_id,portion_description,gram_weight,data_points,footnote,min_year_acquired
modifier,,,,,,,,,,
oz shelled,1,1,1,1,1,0,1,0,0,0
63895,1,1,1,0,1,1,1,0,0,0
63894,1,1,1,0,1,1,1,0,0,0
63893,1,1,1,0,1,1,1,0,0,0
63892,1,1,1,0,1,1,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
whole without shell,1607,1607,1,1607,1607,0,1607,1607,0,1
cup,1691,1691,1691,1691,1691,0,1691,346,0,0
oz,3166,3166,3166,3166,3166,0,3166,196,0,0
10205,3305,3305,3305,0,3305,3305,3305,0,0,0
90000,7056,7056,7056,0,7056,7056,7056,0,0,0

In [83]:
ozs = fndd_portions[fndd_portions['modifier']=='oz']

In [86]:
(ozs['gram_weight']/ozs['amount']).describe()

count    3166.000000
mean       28.341087
std         0.672798
min        28.000000
25%        28.333333
50%        28.333333
75%        28.350000
max        64.000000
dtype: float64

In [87]:
fndd_portions

,id,fdc_id,seq_num,amount,measure_unit_id,portion_description,modifier,gram_weight,data_points,footnote,min_year_acquired
0,81549,167512,1.0,1.0,9999,NaN,serving,34.0,NaN,NaN,NaN
1,81550,167513,1.0,1.0,9999,NaN,serving 1 roll with icing,44.0,1.0,NaN,NaN
2,81551,167514,1.0,1.0,9999,NaN,serving,28.0,NaN,NaN,NaN
3,81552,167515,1.0,1.0,9999,NaN,serving,57.0,NaN,NaN,NaN
4,81553,167516,1.0,1.0,9999,NaN,"waffle, square",39.0,10.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
56888,267791,1105295,NaN,1.0,1119,NaN,Peel,56.7,1.0,NaN,NaN
56889,267792,1105295,NaN,1.0,1119,NaN,Peel,52.8,1.0,NaN,NaN
56890,267793,1105295,NaN,1.0,1119,NaN,Peel,53.2,1.0,NaN,NaN
56891,267794,1105295,NaN,1.0,1119,NaN,Peel,51.1,1.0,NaN,NaN
56892,267795,1105314,1.0,1.0,1119,NaN,Peeled,115.0,102.0,NaN,2019.0

In [79]:
fndd_portions[fndd_portions['fdc_id']==173429]

,id,fdc_id,seq_num,amount,measure_unit_id,portion_description,modifier,gram_weight,data_points,footnote,min_year_acquired
10960,92509,173429,1.0,0.35,9999,NaN,oz,9.9,NaN,NaN,NaN
10961,92510,173429,2.0,0.70,9999,NaN,oz,20.0,NaN,NaN,NaN

In [82]:
9.9/0.35

28.28571428571429

In [75]:
df = df.dropna(subset = ['description'])

In [80]:
df[df['fdc_id']==173429]

,fdc_id,data_type,description,food_category_id,publication_date
39800,173429,sr_legacy_food,"Egg substitute, powder",NaN,2019-04-01

In [48]:
fndd_portions['modifier'].unique().tolist()

['serving',
 'serving 1 roll with icing',
 'waffle, square',
 'waffle, round',
 'oz',
 'waffle round (4" dia)',
 'waffle',
 'waffle, round (4"dia)',
 'crust',
 'pie 1 pie (1/8 of 9" pie)',
 'slice',
 'pie',
 'pie crust (average weight)',
 'waffles',
 'piece',
 'pieces (mean serving weight, aggregated over brands)',
 'serving (approximate serving size)',
 'cake square (average weight of whole item)',
 'cake square',
 'serving (1 NLEA serving - about 4 crackers)',
 'cracker',
 'crackers (1 NLEA serving)',
 'bagel',
 'tortilla',
 'package',
 'piece, large',
 'bag (7 oz)',
 'packet (.75 oz)',
 'large',
 'small',
 'bar',
 'bar (1 oz)',
 'bar (1.5 oz)',
 'bar (1.25 oz)',
 'cup',
 'cake',
 'cakes',
 'oz (approx 2/3 cup)',
 'can (6 oz)',
 'can (6.75 oz)',
 'twists',
 'pretzel',
 'bag',
 'package 1.76 oz',
 'bar snack size',
 'pieces',
 'serving 6 pieces',
 'serving 2.1 oz bar',
 'serving 1 fun size bar 0.65 oz',
 'serving 0.75 oz bar',
 'bar bite size',
 'bar king size',
 "Butterfinger BB's",
 'tbsp',
 "cup BB's",
 'bar 2.25 oz',
 'oz square Bakers',
 'cup, grated',
 'oz Hersheys',
 'cup chips',
 'bar (3 oz)',
 'serving 1/2 cup',
 'recipe yield',
 'cup (4 fl oz)',
 'bar (2.75 fl oz)',
 'package 1.375 oz',
 'serving 0.25 cup',
 'serving fun size',
 'serving fun size bar 0.65 oz',
 'pieces 1.6oz',
 'serving 1/4 cup',
 'unit',
 'serving 1.4 oz bar',
 'bar, miniature',
 'bar (1.55 oz)',
 'cup From 19191',
 'cup From 19211',
 'roll',
 'crackers',
 'cookies',
 'goldfish',
 'pancake',
 'box',
 'cup unprepared',
 'cup prepared',
 'fries',
 'serving varied from 2-3 tacos per serving',
 'serving varied from 1 to 3 tacos per serving',
 'taco',
 'steak',
 'order',
 'tsp',
 'fl oz assumed specific gravity of honey',
 'cup pieces',
 'cubic inch',
 'slice, medium',
 'slice, thick',
 'slice, thin',
 'packet',
 'serving 1.63 oz singles bag',
 'jar NFS',
 'jar Beech-Nut Stage 2 (4 oz)',
 'cup, cooked',
 'oz cooked, yield',
 'patty, cooked',
 'frankfurter',
 'cup, sliced',
 'fl oz',
 'links 1 NLEA serving',
 'serving 1.76 oz bar',
 'bar fun size',
 'serving 5 miniatures',
 'tablespoon',
 'oz with bone, cooked (yield after bone removed)',
 'cubic inch, boneless',
 'slice cooked',
 'medium slice (approx 3" x 2" x 1/4")',
 'thick slice (approx 3" x 2" x 3/8")',
 'cup (1 NLEA serving)',
 "bottle Earth's Best (4.2 fl oz)",
 'bottle Heinz Strained (4 fl oz)',
 'bottle Gerber First Food (4 fl oz)',
 'bottle Beech-Nut Stage I (4 fl oz)',
 'bottle NFS',
 'cup, diced',
 'jar Gerber Second Food (4 oz)',
 'jar Heinz Strained-2 (4.25 oz)',
 'bottle Beech-Nut Stage 2 (4 fl oz)',
 'bottle Gerber Second Foods (4 fl oz)',
 "jar Beech-Nut Baby's First (2.5 oz)",
 'jar Beech-Nut Stage I (4 oz)',
 'jar Gerber First Foods (2.5 oz)',
 "jar Earth's Best (4.5 oz)",
 'jar Heinz Beginner-1 (2.5 oz)',
 'cup, shredded',
 'slice (1 oz)',
 'teaspoon',
 'serving 2 fl oz',
 'can 10 fl oz',
 'cup, sections',
 'fruit (2-1/8" dia)',
 'fruit (2-3/8" dia)',
 'wedge or slice (1/8 of one 2-1/8" dia lemon)',
 'NLEA serving',
 'lemon yields',
 'wedge yields',
 'fruit without refuse',
 'cup, pitted',
 'pint as purchased, yields',
 'raspberries',
 'cup, thawed',
 'package (10 oz)',
 'stalk',
 'cup, pulp',
 'sapodilla',
 'cup 1" pieces',
 'fruit (7" x 5-1/4" dia)',
 'cup, halves',
 'cup, pureed',
 'cup, whole',
 'extra large (1-5/8" dia)',
 'large (1-3/8" dia)',
 'medium (1-1/4" dia)',
 'small (1" dia)',
 'fruit (3" x 1")',
 'cup, balls',
 'melon (15" long x 7-1/2" dia)',
 'wedge (approx 1/16 of melon)',
 'watermelon balls',
 'cherry (NLEA serving)',
 'cup, chunks',
 'cup, crushed',
 'spear',
 'fruit yields',
 'medium',
 'fruit without pits',
 'cup without pits, thawed',
 'fruit without pits, thawed',
 'cup thawed',
 'fruit (4-2/3" long x 2-3/4" dia)',
 'lb',
 'roast',
 'chop, excluding refuse (yield from 1 raw chop, with refuse, weighing 151 g)',
 'chop',
 'chop without refuse (Yield from 1 cooked chop, with refuse, weighing 209g)',
 'chop without refuse (Yield from 1 raw chop, with refuse, weighing 259g)',
 'chop without refuse (Yield from 1 cooked chop, with refuse, weighing 172g)',
 'roast without refuse (Yield from 1 cooked roast, with refuse, weighing 1515g)',
 'roast without refuse (Yield from 1 raw roast, with refuse, weighing 1818g)',
 'piece, cooked, excluding refuse (yield from 1 lb raw meat with refuse)',
 'steak without refuse (Yield from 1 raw steak, with refuse, weighing 380g)',
 'steak without refuse (Yield from 1 cooked steak, with refuse, weighing 249g)',
 'steak, excluding refuse (yield from 1 raw steak, with refuse, weighing 300 g)',
 'ear',
 'ear (yield after cooking)',
 'unit, cooked (yield from 1 lb raw meat)',
 'slices (6 per 6-oz pkg.)',
 'package (6 oz)',
 'patty',
 'chop, excluding refuse (yield from 1 raw chop, with refuse, weighing 113 g)',
 'rib without refuse (Yield from 1 raw rib, with refuse, weighing 196g)',
 'rib without refuse (Yield from 1 cooked rib, with refuse, weighing 140g)',
 'rack',
 'chop boneless',
 'chop boneless (yield from 189g raw meat)',
 'serving (3 oz)',
 'roast rump',
 'oz (3 oz)',
 'roast shank',
 'biscuit',
 'eclair, frozen',
 'cracker 1 cracker = 6.5g',
 'sandwich',
 'serving (3 pancakes)',
 'pastry',
 'muffin small',
 'pie crust',
 'Triscuits, regular size',
 'crackers, Wheat Thins',
 'slice (average weight of 1 slice)',
 'loaf',
 'piece (1 serving)',
 'slice presliced',
 'bun',
 'oz crunchy (about 21 pieces)',
 'oz puffs (about 13 pieces)',
 'bag (8 oz)',
 'package (2.5 oz)',
 'bar 1.25 oz',
 'bar 1.6 oz',
 'blocks',
 'cup large chips',
 'cup mini chips',
 'oz (approx 60 pcs)',
 'cup chips (6 oz package)',
 'bar (1.45 oz)',
 'patty, large',
 'patty, small',
 'patty 1.5 oz',
 'bar 1.5 oz',
 'bar 2.4 oz',
 'bar 2 oz',
 'cup gumdrops',
 'gumdrops',
 'gummy bears',
 'gummy dinosaurs',
 'gummy fish',
 'gummy worms',
 'spice stick',
 'spice drop',
 'gumdrop, small (1/2" dia)',
 'gumdrop, medium (3/4" dia)',
 'gumdrop, large (1" dia)',
 'jelly ring (1-1/4" dia)',
 'piece, small',
 'large (1 oz)',
 'bar, miniature (.35 oz)',
 'bar (1.625 oz)',
 'bar (2.8 oz)',
 'bar (3.375 oz)',
 'bar 1.45 oz',
 'bar (1.76 oz)',
 'cup of miniature',
 'miniatures',
 'regular',
 'serving fun size bar',
 'tablet',
 'serving 2 TBSP',
 'slice regular',
 'slice large',
 'Arrowroot biscuit (include Arrowroot cookie)',
 'individual box (2 oz)',
 'serving 4 pieces in serving',
 'cookie 2011 label',
 'serving 1.31 oz bag',
 'serving about 1/4 cup',
 'oz, boneless',
 'bag, single serving',
 'chips',
 'tsp dry',
 'cup (8 fl oz)',
 'medium (2-1/2" dia)',
 'roll (pan, dinner, or small roll) (2" square, 2" high)',
 'serving 1.75 fl oz pop',
 'jar Heinz Strained-2 (4 oz)',
 'package 1.4 oz box, 4 servings',
 'package 4 servings',
 'leg',
 'piece (5-1/2" x 1-1/2" x 1/2")',
 'fruit',
 'fruit (2" dia)',
 'lime yields',
 'prunes with liquid',
 'prune, pitted',
 'cup, packed',
 'cup (not packed)',
 'miniature box (.5 oz)',
 'small box (1.5 oz)',
 'raisins',
 'oz (60 raisins)',
 'cup, drained',
 'cup, without refuse',
 'cup, unthawed',
 'berry',
 'package (20 oz)',
 'fruit (2-7/8" dia)',
 'fruit without peel',
 'cup 1/2" chunks',
 'fruit 2-1/4" high x 2-1/2" dia',
 'fruit 3-3/8" high x 3" diameter',
 'half',
 'cup, with pits, yields',
 'can (6 fl oz)',
 'date, pitted',
 'cup, chopped or diced',
 'slice (4-2/3" dia x 3/4" thick)',
 'slices (1/4" thick)',
 'plantain',
 'chop without refuse (Yield from 1 raw chop, with refuse, weighing 201g)',
 'roast without refuse (Yield from 1 raw roast, with refuse, weighing 1817g)',
 'oz (Yield from 1 cooked roast, with refuse, weighing 1515g)',
 'roast without refuse',
 'steak without refuse (Yield from 1 raw steak, with refuse, weighing 379g)',
 'heart',
 'kidney',
 'slice raw',
 'slices',
 'package (12 oz)',
 'piece, cooked (yield from 1 lb unheated product)',
 'slice (6-1/4" x 4" x 1/16") (1 oz)',
 'rib',
 'rib without refuse (yield from 1 cooked rib, with refuse, weighing 141g)',
 'roast (Yield from 1 raw roast, with refuse, weighing 504g)',
 'oz spiral slice',
 'lb spiral slice',
 'oz shank',
 'lb shank',
 'oz rump',
 'lb rump',
 'oz whole',
 'lb whole',
 'oz grilled patties',
 'ribs',
 'leaf',
 'artichoke, medium',
 'cup hearts',
 'package (9 oz)',
 'package (9 oz), yields',
 'package (9 oz) yields',
 'spear, small (5" long or less)',
 'spear, medium (5-1/4" to 7" long)',
 'spear, large (7-1/4" to 8-1/2")',
 'spear, extra large (8-3/4" to 10" long)',
 'spear tip (2" long or less)',
 'spears (1/2" base)',
 'cup (1/2" pieces)',
 'balsam-pear',
 'cup drained, rinsed',
 'can drained, rinsed',
 'package (10 oz) yields',
 'cup kernels',
 'ear, yields',
 'pod',
 'cup, chopped',
 'sprig',
 'cup slices',
 'cucumber (8-1/4")',
 'head',
 'cup (1" pieces)',
 'gourd',
 'cup (1" slices)',
 'leek',
 'cup, shredded or chopped',
 'head (5" dia)',
 'leaf, large',
 'leaf, medium',
 'slices (2-1/2" dia)',
 'cup shredded',
 'leaf inner',
 'leaf outer',
 'cup, cubes',
 'yam',
 'cup whole',
 'cup sliced',
 'piece whole',
 'mushroom',
 'mushrooms',
 'strip',
 'cup (1" cubes)',
 'cup, mashed',
 'radish (7" long)',
 'tbsp (1/8 cup)',
 'sheets',
 'flower',
 'cup flowers',
 'bunch',
 'can (303 x 406)',
 'package (3 lb)',
 'squash (4 inch dia)',
 'package (4 lb)',
 'sweetpotato, 5" long',
 'medium (2" dia, 5" long, raw)',
 'leaf (11" x 6-1/2")',
 'shoot',
 'root',
 'corm, medium',
 'spears',
 'cup (1/2" slices)',
 'beans',
 'beets (2" dia, sphere)',
 'stalk, large (11"-12" long)',
 'stalk, medium (7-1/2" - 8" long)',
 'stalk, small (5" long)',
 'spear (about 5" long)',
 'sprout',
 'flowerets',
 'ear small (5-1/2" to 6-1/2" long)',
 'ear medium (6-3/4" to 7-1/2" long)',
 'ear large (7-3/4" to 9" long)',
 'baby ear',
 'ear, small (5-1/2" to 6-1/2" long)',
 'ear, medium (6-3/4" to 7-1/2" long)',
 'ear, large (7-3/4" to 9" long)',
 'cup cut',
 'cup, chopped or strips',
 'tablespoon, chopped',
 'cup chopped',
 'frond (6-1/2" long)',
 'spear, small',
 'large (4" long)',
 'cup (about 23 slices)',
 'pimiento, whole',
 'packet (2/3 tbsp)',
 'medium (3-3/4" long)',
 'cup, (about 23 slices)',
 'pepper',
 'package (7 oz)',
 'cup whole kernels',
 'oz (22 whole kernels)',
 'cup, whole or halves',
 'oz (10-12 kernels)',
 'nuts, assorted',
 'oz (85 seeds)',
 'piece, cooked, excluding refuse',
 'steak (yield from 186 g raw meat)',
 'steak, excluding refuse (yield from 1 raw steak, with refuse, weighing 223 g)',
 'steak (yield from 505 g raw meat)',
 'steak (yield from 532 g raw meat)',
 'steak (yield from 320 g raw meat)',
 'steak (yield from 1 raw steak weighing 321g)',
 'roast (yield from 1 raw roast weighing 776g)',
 'steak (yield from 341 g raw meat)',
 'roast (yield from raw roast weighing 766g)',
 'roast (yield from 530 g raw meat)',
 'piece cooked, excluding refuse (yield from 1 lb raw meat with refuse)',
 'steak (yield from raw steak weighing 492 g)',
 'steak (yield from 270 g raw meat)',
 'steak, excluding refuse (yield from 1 raw steak, with refuse, weighing 242 g)',
 'steak (yield from 181 g raw meat)',
 'steak (yield from 1 raw steak weighing149g)',
 'steak (yield from 1 raw steak weighing 151g)',
 'steak, excluding refuse (yield from 1 raw steak, with refuse, weighing 154 g)',
 'oz ( 1 serving )',
 'steak (yield from 475 g raw meat)',
 'roast (yield from 714 g raw meat)',
 'roast (yield from 666 g raw meat)',
 'steak (yield from 396 g raw meat)',
 'steak (yield from 368 g meat)',
 'can',
 'can or bottle (12 fl oz)',
 'can (6.8 fl oz, 200 ml)',
 'cocktail (4.5 fl oz)',
 'bar (1.4 oz)',
 'bar (1.65 oz)',
 'serving 2.05 oz bar',
 'piece miniature 5 pieces = serving',
 'bar 1.4 oz',
 'package 1.9 oz',
 'bar (1.75 oz)',
 'bar (2.6 oz)',
 'serving 1.5 oz bar',
 'bar 1.55 oz',
 'bar 0.5 oz',
 'serving 4 fun size bars',
 'package 0.6 oz 1 cup',
 'package 1.6 oz 2 cups',
 'miniature',
 'package 1.63 oz',
 'package (1.6 oz)',
 'package 1 package',
 'serving 5 mints',
 'serving 2.13 oz bar',
 'serving 2 fun size bars',
 'package (2 oz)',
 'package (2.06 oz, 2 bars)',
 'package, king size (3.35 oz, 4 bars)',
 'package (11 oz)',
 'package (1.89 oz, 2 bars)',
 'package (1.77 oz)',
 'package (9.43 oz)',
 'bar 1.7 oz',
 'stick',
 'Chiclets',
 'block',
 'package (3 oz)',
 'portion, amount to make 1/2 cup',
 'container refrigerated, 4 oz',
 'container shelf stable, 3.5 oz',
 'package (3.5 oz)',
 'package yield (2 cups)',
 'serving 4 oz pudding cup',
 'can (5 oz)',
 'package (1.5 oz)',
 'package (0.35 oz)',
 'tbsp creamy',
 'serving 3.5 oz shelf stable',
 'container refrigerated 4 oz',
 'serving 4 oz',
 'serving 1.30 oz bar',
 'serving 5 pieces',
 'serving 1.3 oz bar',
 'serving 7 pieces',
 'rolls',
 'individual (3.5 fl oz)',
 'pouch',
 'serving 1.6 oz bag',
 'package (0.5 oz)',
 'serving 1 tbsp',
 'package (1.75 oz)',
 'can (21 oz)',
 'serving fun size (8 chews)',
 'serving 2.07 oz pack',
 'package (3.12 oz)',
 'tsp unpacked',
 'cup packed',
 'cup unpacked',
 'tsp packed',
 'tsp brownulated',
 'serving 2.1 oz bag',
 'serving fun size bag',
 'serving 1.80 oz bag',
 'serving 2.17 oz pack',
 'package fun size',
 'can (7 oz)',
 'bag (6 oz)',
 'cup spiral shaped',
 'cup dry',
 'cup spaghetti not packed',
 'cup spaghetti packed',
 'cup elbows',
 'cup penne',
 'cup shells',
 'cup lasagne',
 'cup rotini',
 'cup farfalle',
 'cup unsifted, dipped',
 'cup spaghetti',
 'cup elbows not packed',
 'cup lasagna',
 'cup elbows packed',
 'serving (2 oz)',
 'serving 6 rolls',
 'cup 1 serving',
 'thigh with bone and breading',
 'piece turnover 1 serving',
 'scoop',
 'bulb',
 'serving (3 pieces)',
 'serving 1 quesadilla',
 'serving serving size varied on diameter and count of quesadila',
 'quesadilla 8-10 inch diameter',
 'quesadilla 5-6 inch diameter',
 'serving varied from 8 to 10 ravioli per serving',
 'serving varied from 7-9 ravioli per serving',
 'serving serving size varied by diameter and count of raviloi',
 'biscuits (1 NLEA serving)',
 'drink box (8.45 fl oz)',
 'cookie',
 'jar, Gerber (4 oz)',
 'serving (2 tbsp)',
 'fillet',
 'serving 5 fl oz',
 'serving 1 packet',
 'serving 1 packet SUGAR TWIN',
 'envelope',
 'tbsp, whipped',
 'slice (3/4 oz)',
 'melon, large (about 6-1/2" dia)',
 'wedge, large (1/8 of large melon)',
 'melon, medium (about 5" dia)',
 'wedge, medium (1/8 of medium melon)',
 'melon, small (about 4-1/4" dia)',
 'wedge, small (1/8 of small melon)',
 'cantaloupe balls',
 'melon',
 'super colossal',
 'jumbo',
 'olive',
 'large (3-1/16" dia)',
 'small (2-3/8" dia)',
 'fruit (2-5/8" dia)',
 'small (2-1/4" dia)',
 'large (2-3/4" dia)',
 'cup, halves or slices',
 'half, with liquid',
 'cup, slices',
 'halves',
 'slice (3-1/2" dia x 3/4" thick)',
 'slice, thin (3-1/2" dia x 1/2" thick)',
 'cup, crushed, sliced, or chunks',
 'slice or ring (3" dia) with liquid',
 'plum with liquid',
 'cup arils (seed/juice sacs)',
 'pomegranate (4" dia)',
 'can total can contents',
 'beet (2" dia)',
 'roast whole',
 'artichoke, large',
 'can (300 x 407)',
 'cup (1/8" slices)',
 'can (12 oz) yields',
 'can, 15 oz (303 x 406)',
 'cup, pared, chopped',
 'large (8-1/4" long)',
 'small (6-3/8" long)',
 'stick (4" long)',
 'eggplant, peeled (yield from 1-1/4 lb)',
 'eggplant, unpeeled (approx 1-1/4 lb)',
 'clove',
 'cloves',
 'cup slices (1" dia)',
 'slices (1" dia)',
 'cup, chopped (1/2" pieces, loosely packed)',
 'head, large',
 'head, medium (6" dia)',
 'head, small',
 'leaf, small',
 'NLEA Serving',
 'root (9-1/2" long)',
 'cup, pieces or slices',
 'caps',
 'cup diced',
 'pods (3" long)',
 'strips',
 'plant',
 'squash',
 'large (1" to 1-1/4" dia)',
 'medium (3/4" to 1" dia)',
 'cup, undrained',
 'sprouts',
 'leaf (12-1/4" long)',
 'can (404 x 307)',
 'cup 1/2" pieces',
 'beans (4" long)',
 'cup flowerets',
 'floweret',
 'carrot',
 'stalks',
 'cup pieces or slices',
 'cup sliced or chips',
 'large Gherkin (3" long)',
 'Gherkin (2-3/4" long)',
 'midget Gherkin (2-1/8" long)',
 'chip',
 'small Gherkin (2-1/2" long)',
 'spear Gherkin',
 'pepper, large (3-3/4" long, 3" dia)',
 'pad',
 'head, large (6-7" dia)',
 'head, medium (5-6" dia)',
 'head, small (4" dia)',
 'small (4" long)',
 'medium (4-1/2" long)',
 'large (5" long)',
 'tbsp, whole',
 'tbsp, ground',
 'tsp, whole',
 'tsp, ground',
 'package (1.875 oz) yields',
 'oz (28 almonds)',
 'cup, halves and whole',
 'cup, halves and pieces',
 'oz (18 kernels)',
 'oz (15 halves)',
 'oz (49 kernels)',
 'kernel',
 'steak (yield from 483 g raw meat)',
 'steak (yield from 297 g raw meat)',
 'steak (yield from 297g raw meat)',
 'steak (Yield from 448 g raw meat)',
 'steak (yield from 203 g raw meat)',
 'steak (yield from 518 g raw meat)',
 'oz ( 1serving )',
 'portion (yield from 1/2 lb raw meat )',
 'loaf ( yield from 1 lb raw meat )',
 'steak (yield from raw steak weighing 550 g)',
 'steak (yield from raw steak weighing 340g)',
 'roast (yield from 1 raw roast weighing 786g)',
 'steak (yield from raw steak weighing 491g)',
 'steak (yield from 1 raw steak weighing 624g)',
 'steak (yield from 467 g raw meat)',
 'steak (yield from 388 g raw meat)',
 'steak (yield from 294 g raw meat)',
 'steak (yield from 295 g raw meat)',
 'roast (yield from 690g raw meat)',
 'steak (yield from 381 g raw meat)',
 'oz (1 serving)',
 'cocktail (2 fl oz)',
 'bar 2.8 oz',
 'recipe yield, recipe makes 49     1 " x 1"     pieces',
 'serving 0.5 oz, about 1 tbsp',
 'package (net weight, 12 oz)',
 'serving 1 singles bag',
 'package (1.69 oz)',
 'box (1.48 oz)',
 'bar (1.6 oz)',
 'bar (1.75 fl oz)',
 'serving 1.58 oz bag',
 'bar (2 oz)',
 'bar, fun size',
 'bar, king size (4 oz)',
 'serving 1.0 oz tube',
 'serving 0.50 oz box',
 'serving 1 1.94 oz tube',
 'bar 2.6 oz',
 'package 3 oz, yields 2 cups',
 'envelope (1 tbsp)',
 'package (1 oz)',
 'container shelf stable 3.5 oz',
 'container',
 'package (16 oz)',
 'tbsp whipped',
 'bar 1.92 oz',
 'bars',
 'package yields',
 'serving 1.5 oz',
 'bar 1.94 oz',
 'bar king size 2.8 oz',
 'oz bar',
 'bar (2.5 fl oz)',
 'bar (3 fl oz)',
 'serving 28 pieces',
 'serving 1.42 oz bar',
 'packet (0.5 oz)',
 'serving 13 pieces',
 'serving 15 pieces',
 'serving 0.78 oz bar',
 'serving 0.7 oz bar',
 'serving packet',
 'serving 1 cube',
 'cup unsifted',
 'cup sifted',
 'tbsp unsifted',
 'piece (1-3/4" x 1-1/4" x 1/2")',
 'serving 1.66 oz bar',
 'serving 1.56 oz bar',
 'jar',
 'recipe yield (60 pieces)',
 'can (6.25 oz)',
 'cup, dry, yields',
 'oz, dry, yields',
 'cup, loosely packed',
 'cup drained',
 'serving (3.5 oz)',
 'serving (4 oz)',
 'pieces 1 serving',
 'serving 4.5 oz',
 'serving 1 pouch',
 'cup dry rice mix',
 'pieces pierogies',
 'filet',
 'pad peeled',
 'bulb peeled',
 'nut',
 'serving serving size varied from 1 to 3 enchiladas',
 'enchilada',
 'serving serving size varied from 1 to 3 tamales',
 'tamale',
 'jar Heinz Junior-3 (6 oz)',
 'individual packet',
 'container (6 oz)',
 'container (4.4 oz)',
 'container (8 oz)',
 'cup, cubed',
 'cup, diced (approx 20 pieces per cup)',
 'melon (5-1/4" dia)',
 'melon (6" - 7" dia)',
 'wedge (1/8 of 5-1/4" dia melon)',
 'wedge (1/8 of 6" to 7" dia melon)',
 'honeydew balls',
 'small (2-1/3" dia)',
 'cup sections, without membranes',
 'fruit (2-11/16" dia)',
 'fruit without seeds',
 'fruit, small',
 'fruit, large',
 'small (2-1/2" dia)',
 'medium (2-2/3" dia)',
 'extra large (3" dia)',
 'fruit (2-1/2" dia)',
 'beet',
 'package (2 lb)',
 'head, large (about 7" dia)',
 'head, medium (about 5-3/4" dia)',
 'head, small (about 4-1/2" dia)',
 'head, large (about 5-1/2" dia)',
 'head, medium (about 5" dia)',
 'cup chopped (1/2" pieces)',
 'head large (6-7" dia.)',
 'head medium (5-6" dia.)',
 'head small (4" dia.)',
 'strip (4" long)',
 'tbsp chopped',
 'tsp chopped',
 'stem (8-3/4" long)',
 'sprigs',
 'ear, large (7-3/4" to 9" long) yields',
 'ear, medium (6-3/4" to 7-1/2" long) yields',
 'slice, large (1/4" thick)',
 'slice, medium (1/8" thick)',
 'rings',
 'onion',
 'medium (4-1/8" long)',
 'small (3" long)',
 'parsnip (9" long)',
 'pea pods',
 'seeds',
 'Potato large (3" to 4-1/4" dia)',
 'Potato medium (2-1/4" to 3-1/4" dia)',
 'Potato small (1-3/4" to 2-1/2" dia)',
 'potato large (3" to 4-1/4" dia)',

In [95]:
fndd_portions.groupby('modifier')['id'].count().sort_values().tail(20)

modifier
without skin            346
with skin               346
10049                   349
40081                   386
40072                   386
40029                   400
51005                   422
40018                   430
21000                   447
fl oz                   492
tbsp                    548
30000                   654
yolk                   1457
white                  1484
whole in shell         1581
whole without shell    1607
cup                    1691
oz                     3166
10205                  3305
90000                  7056
Name: id, dtype: int64

In [20]:
fndds_nutrients = (
    fndds[['id','description']].set_index('id').join(fndds_nutrients[['fdc_id','nutrient_id','amount']].set_index('fdc_id'))
    .reset_index()
    .set_index('nutrient_id')
    .join(nutrients.set_index('id'))
    .rename(columns = {'index':'id'})

)

In [17]:
fndds_nutrients = fndds_nutrients.pivot(index = ['id','description'],columns = ['name'],values = ['amount'])
fndds_nutrients.columns = fndds_nutrients.columns.get_level_values(1)
fndds_nutrients.columns = fndds_nutrients.columns.str.lower()


fndds_nutrients = fndds_nutrients[['energy',
                                    'protein',
                                    'carbohydrate, by difference',
                                    'total lipid (fat)']]
fndds_nutrients = fndds_nutrients.rename(columns = {'carbohydrate, by difference':'carb','total lipid (fat)':'fat'}).reset_index()

ValueError: Index contains duplicate entries, cannot reshape

In [ ]:
attributes = attributes[attributes['name'] == 'WWEIA Category description'][['fdc_id','value']].rename(columns = {'fdc_id':'id','value':'category'})

In [ ]:
fndds_nutrients = fndds_nutrients.merge(attributes,on='id')

In [ ]:
foods = pd.read_sql('select id, description from foods',engine)

In [ ]:
foods

In [17]:
fndd_portions[['fdc_id','portion_description','gram_weight']].rename(columns = {'fdc_id':"food_id"}).to_sql('portions',engine,if_exists='append',index=False)

In [15]:
fndd_portions[fndd_portions['fdc_id']==1101970]

,id,fdc_id,seq_num,amount,measure_unit_id,portion_description,modifier,gram_weight,data_points,footnote,min_year_acquired
21515,246068,1101970,11,NaN,9999,1 surface inch,52000,6.2,NaN,NaN,NaN
21514,253926,1101970,1,NaN,9999,"1 piece, NFS",63542,119.0,NaN,NaN,NaN
21513,256883,1101970,6,NaN,9999,"1 personal size pizza (5-7"" diameter)",64363,175.0,NaN,NaN,NaN
21510,256955,1101970,7,NaN,9999,"1 small pizza (8-10"" diameter)",64364,480.0,NaN,NaN,NaN
21509,257015,1101970,8,NaN,9999,"1 medium pizza (11-12"" diameter)",64365,691.0,NaN,NaN,NaN
21507,257078,1101970,9,NaN,9999,"1 large pizza (13-15"" diameter)",64366,954.0,NaN,NaN,NaN
21506,257141,1101970,10,NaN,9999,"1 extra-large pizza (16-18"" diameter)",64367,1278.0,NaN,NaN,NaN
21512,257201,1101970,2,NaN,9999,"1 piece, small pizza",64368,80.0,NaN,NaN,NaN
21511,257261,1101970,3,NaN,9999,"1 piece, medium pizza",64369,86.0,NaN,NaN,NaN
21508,257324,1101970,4,NaN,9999,"1 piece, large pizza",64370,119.0,NaN,NaN,NaN
21505,257693,1101970,5,NaN,9999,"1 piece, extra-large pizza",64417,128.0,NaN,NaN,NaN
21504,264731,1101970,12,NaN,9999,Quantity not specified,90000,238.0,NaN,NaN,NaN

In [22]:
portions = fndds_nutrients.set_index('id').join(fndd_portions[['fdc_id','portion_description','gram_weight']].set_index('fdc_id'))

In [25]:
portions['portion_description'].drop_duplicates()

1097510                                     1 cup
1097510                                   1 fl oz
1097510                    Quantity not specified
1097511    Guideline amount per fl oz of beverage
1097511    Guideline amount per cup of hot cereal
                            ...
1104546                1 can or bottle (24 fl oz)
1104546                1 can or bottle (32 fl oz)
1104559                       1 bottle (32 fl oz)
1104566                           1 bottle (4 oz)
1104568                                       NaN
Name: portion_description, Length: 1855, dtype: object

In [31]:
portions[portions['description'].str.contains('Apple, raw')]

,description,energy,protein,carb,fat,category,portion_description,gram_weight
1102644,"Apple, raw",52.0,0.26,13.81,0.17,Apples,1 cup,125.0
1102644,"Apple, raw",52.0,0.26,13.81,0.17,Apples,1 extra large,295.0
1102644,"Apple, raw",52.0,0.26,13.81,0.17,Apples,1 large,242.0
1102644,"Apple, raw",52.0,0.26,13.81,0.17,Apples,1 medium,200.0
1102644,"Apple, raw",52.0,0.26,13.81,0.17,Apples,1 slice,25.0
1102644,"Apple, raw",52.0,0.26,13.81,0.17,Apples,1 small,165.0
1102644,"Apple, raw",52.0,0.26,13.81,0.17,Apples,1 single serving package,34.0
1102644,"Apple, raw",52.0,0.26,13.81,0.17,Apples,Quantity not specified,200.0

In [39]:
portions['portion_description'].str.split(' ').str[:2]

1097510           [1, cup]
1097510            [1, fl]
1097510    [Quantity, not]
1097511           [1, cup]
1097511            [1, fl]
                ...
1104588                NaN
1104589                NaN
1104590                NaN
1104591                NaN
1104592                NaN
Name: portion_description, Length: 31791, dtype: object

In [36]:
portions

,description,energy,protein,carb,fat,category,portion_description,gram_weight
1097510,"Milk, human",70.0,1.03,6.89,4.38,Human milk,1 cup,246.0
1097510,"Milk, human",70.0,1.03,6.89,4.38,Human milk,1 fl oz,30.8
1097510,"Milk, human",70.0,1.03,6.89,4.38,Human milk,Quantity not specified,0.0
1097511,"Milk, NFS",51.0,3.34,4.87,1.99,"Milk, reduced fat",1 cup,244.0
1097511,"Milk, NFS",51.0,3.34,4.87,1.99,"Milk, reduced fat",1 fl oz,30.5
...,...,...,...,...,...,...,...,...
1104588,Tomatoes as ingredient in omelet,25.0,1.11,5.48,0.23,Not included in a food category,NaN,NaN
1104589,Other vegetables as ingredient in omelet,29.0,3.46,4.81,0.38,Not included in a food category,NaN,NaN
1104590,Vegetables as ingredient in curry,52.0,1.81,11.60,0.19,Not included in a food category,NaN,NaN
1104591,Sauce as ingredient in hamburgers,271.0,1.34,17.14,22.85,Not included in a food category,NaN,NaN
1104592,Industrial oil as ingredient in food,892.0,0.00,0.00,100.00,Not included in a food category,NaN,NaN

branded

In [104]:
food = pd.read_csv(branded_path/'food.csv')

In [105]:
branded_food = pd.read_csv(branded_path/'branded_food.csv')

/home/dima/anaconda3/envs/food/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3361: DtypeWarning: Columns (2,3,4,6,9,12) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [112]:
food = food[['description','fdc_id']].set_index('fdc_id')

In [110]:
branded_food = branded_food[['brand_name','ingredients','fdc_id','serving_size','serving_size_unit','package_weight']].set_index('fdc_id')

In [114]:
branded_food = food.join(branded_food)

In [115]:
branded_food

,description,brand_name,ingredients,serving_size,serving_size_unit,package_weight
fdc_id,,,,,,
1105904,WESSON Vegetable Oil 1 GAL,NaN,Vegetable Oil,15.0,ml,NaN
1105905,SWANSON BROTH BEEF,NaN,"INGREDIENTS: BEEF STOCK, CONTAINS LESS THAN 2%...",240.0,ml,NaN
1105906,CAMPBELL'S SLOW KETTLE SOUP CLAM CHOWDER,NaN,"INGREDIENTS: CLAM STOCK, POTATOES, CLAMS, CREA...",440.0,g,NaN
1105907,CAMPBELL'S SLOW KETTLE SOUP CHEESE BROCCOLI,NaN,"INGREDIENTS: WATER, CREAM, BROCCOLI, CELERY, V...",440.0,g,NaN
1105908,SWANSON BROTH CHICKEN,NaN,"INGREDIENTS: CHICKEN STOCK, CONTAINS LESS THAN...",240.0,ml,NaN
...,...,...,...,...,...,...
2183200,Manuka Hunters Bush Honey 250g,Manuka Hunters,Bush Honey,10.0,g,250g
2183201,Manuka Hunters Bush Honey 500g,Manuka Hunters,Bush Honey,10.0,g,500g
2183202,Manuka Hunters Bush Honey 1kg,Manuka Hunters,Bush Honey,10.0,g,1kg
2183203,Rocket Fuel Sauce 300g,Rocket Fuel,"Sugar, Sultanas , Water, Vinegar, Spices, Drie...",15.0,g,300g
2183204,The Kiwi Artisan Manuka Smoked Olives 150g,The Kiwi Artisan,"Extra Virgin Olive Oil, Green Olives, Kalamata...",50.0,g,150g

In [117]:
nutrients = pd.read_csv(branded_path/'food_nutrient.csv')

In [118]:
nutrients

,id,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,footnote,min_year_acquired
0,13706913,1105904,203,0.00,NaN,71.0,NaN,NaN,NaN,NaN,NaN
1,13706914,1105904,204,93.33,NaN,71.0,NaN,NaN,NaN,NaN,NaN
2,13706915,1105904,205,0.00,NaN,75.0,NaN,NaN,NaN,NaN,NaN
3,13706924,1105904,324,0.00,NaN,75.0,NaN,NaN,NaN,NaN,NaN
4,13706918,1105904,291,0.00,NaN,75.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
19807009,26849607,2183204,291,3.20,NaN,71.0,NaN,NaN,NaN,NaN,NaN
19807010,26849609,2183204,606,3.80,NaN,71.0,NaN,NaN,NaN,NaN,NaN
19807011,26849602,2183204,203,1.20,NaN,71.0,NaN,NaN,NaN,NaN,NaN
19807012,26849606,2183204,269,0.20,NaN,71.0,NaN,NaN,NaN,NaN,NaN
19807013,26849603,2183204,204,31.60,NaN,71.0,NaN,NaN,NaN,NaN,NaN